In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/imdb-project-sql/sqlite.9.sql
/kaggle/input/imdb-project-sql/IMDB SQL project.txt
/kaggle/input/imdb-project-sql/movies.sqlite

# Lets Import the modules

In [2]:
import sqlite3 as sql
import pandas as pd

# Importing movies dataset

In [3]:
Database = '/kaggle/input/imdb-project-sql/movies.sqlite'
db = sql.connect(Database)
print("Database is connected!")

Database is connected!

# QUERY 1: Can you get all data about movies?

In [4]:
q1 = """SELECT * FROM MOVIES"""
r1 = pd.read_sql(q1, db)
print(r1)

         id                            original_title     budget  popularity  \
0     43597                                    Avatar  237000000         150
1     43598  Pirates of the Caribbean: At World's End  300000000         139
2     43599                                   Spectre  245000000         107
3     43600                     The Dark Knight Rises  250000000         112
4     43601                               John Carter  260000000          43
...     ...                                       ...        ...         ...
4768  48395                               El Mariachi     220000          14
4769  48396                                 Newlyweds       9000           0
4770  48397                 Signed, Sealed, Delivered          0           1
4771  48398                          Shanghai Calling          0           0
4772  48399                         My Date with Drew          0           1

     release_date     revenue                                     title  \
0      2009-12-10  2787965087                                    Avatar
1      2007-05-19   961000000  Pirates of the Caribbean: At World's End
2      2015-10-26   880674609                                   Spectre
3      2012-07-16  1084939099                     The Dark Knight Rises
4      2012-03-07   284139100                               John Carter
...           ...         ...                                       ...
4768   1992-09-04     2040920                               El Mariachi
4769   2011-12-26           0                                 Newlyweds
4770   2013-10-13           0                 Signed, Sealed, Delivered
4771   2012-05-03           0                          Shanghai Calling
4772   2005-08-05           0                         My Date with Drew

      vote_average  vote_count  \
0              7.2       11800
1              6.9        4500
2              6.3        4466
3              7.6        9106
4              6.1        2124
...            ...         ...
4768           6.6         238
4769           5.9           5
4770           7.0           6
4771           5.7           7
4772           6.3          16

                                               overview  \
0     In the 22nd century, a paraplegic Marine is di...
1     Captain Barbossa, long believed to be dead, ha...
2     A cryptic message from Bondâ€™s past sends him o...
3     Following the death of District Attorney Harve...
4     John Carter is a war-weary, former military ca...
...                                                 ...
4768  El Mariachi just wants to play his guitar and ...
4769  A newlywed couple's honeymoon is upended by th...
4770  "Signed, Sealed, Delivered" introduces a dedic...
4771  When ambitious New York attorney Sam is sent t...
4772  Ever since the second grade when he first saw ...

                                                tagline     uid  director_id
0                           Enter the World of Pandora.   19995         4762
1        At the end of the world, the adventure begins.     285         4763
2                                 A Plan No One Escapes  206647         4764
3                                       The Legend Ends   49026         4765
4                  Lost in our world, found in another.   49529         4766
...                                                 ...     ...          ...
4768  He didn't come looking for trouble, but troubl...    9367         5097
4769  A newlywed couple's honeymoon is upended by th...   72766         6485
4770                                               None  231617         7108
4771                           A New Yorker in Shanghai  126186         7109
4772                                               None   25975         7110

[4773 rows x 13 columns]

# QUERY 2: How do you get all data about directors?

In [5]:
q2 = """SELECT * FROM directors"""
r2 = pd.read_sql(q2, db)
print(r2)

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

# QUERY 3: Check how many movies are present in imdb?

In [6]:
q3 = """SELECT COUNT(*) AS Number_of_movies FROM MOVIES"""
r3 = pd.read_sql(q3, db)
print(r3)

   Number_of_movies
0              4773

# QUERY 4: Find these 3 directors: James Cameron : Luc Besson : Jhon Woo?

In [7]:
q4 = """SELECT * FROM DIRECTORS WHERE name == 'James Cameron' OR name == 'Luc Besson' OR name == 'John Woo'"""
r4 = pd.read_sql(q4, db)
print(r4)

            name    id  gender    uid department
0  James Cameron  4762       2   2710  Directing
1       John Woo  4893       2  11401  Directing
2     Luc Besson  4949       2     59  Directing

# QUERY 5: Find all directors with name starting with Steven?

In [8]:
q5 = """SELECT * FROM directors WHERE name LIKE 'Steven%'"""
r5 = pd.read_sql(q5, db)
print(r5)

                 name    id  gender    uid department
0    Steven Spielberg  4799       2    488  Directing
1   Steven Soderbergh  4909       2   1884  Directing
2        Steven Brill  5013       2  32593  Directing
3     Steven Zaillian  5117       2   2260  Directing
4        Steven Quale  5216       2  93214  Directing
5       Steven Seagal  5221       2  23880  Directing
6  Steven E. de Souza  5390       2   1726  Directing
7    Steven Shainberg  5803       2  67795  Directing
8    Steven R. Monroe  6713       2  88039  Directing

In [9]:
qa = """SELECT DISTINCT GENDER FROM directors"""
ra = pd.read_sql(qa, db)
print(ra)

   gender
0       2
1       0
2       1

# QUERY 6: Count female directors?

In [10]:
q6 = """SELECT COUNT(*) AS Number_of_females FROM directors WHERE gender == 1"""
r6 = pd.read_sql(q6, db)
print(r6)

   Number_of_females
0                150

# QUERY 7: Find the name of the 10th first women directors?

In [11]:
q7 = """SELECT id, name FROM directors WHERE gender == 1 ORDER BY id LIMIT 1 OFFSET 10 """
r7 = pd.read_sql(q7, db)
print(r7)

     id          name
0  5174  Karyn Kusama

# QUERY 8: What are the 3 most popular movies?

In [12]:
q8 = """SELECT original_title FROM movies ORDER BY popularity DESC LIMIT 3 """
r8 = pd.read_sql(q8, db)
print(r8)

  original_title
0        Minions
1   Interstellar
2       Deadpool

# QUERY 9: What are the 3 most bankable movies?

In [13]:
q9 = """SELECT original_title FROM movies ORDER BY budget DESC LIMIT 3"""
r9 = pd.read_sql(q9, db)
print(r9)

                                original_title
0  Pirates of the Caribbean: On Stranger Tides
1     Pirates of the Caribbean: At World's End
2                      Avengers: Age of Ultron

# QUERY 10: What is the most awarded average vote since the January 1st, 2000?

In [14]:
q10 = """SELECT original_title, vote_average FROM movies WHERE release_date > "2000-01-01" ORDER BY vote_average DESC LIMIT 1"""
r10 = pd.read_sql(q10, db)
print(r10)

  original_title  vote_average
0      Sardaarji           9.5

# QUERY 11: Which movie(s) were directed by Brenda Chapman?

In [15]:
q11 = """SELECT M.original_title From movies AS M JOIN directors AS D ON M.director_id = D.id WHERE name == 'Brenda Chapman'"""
r11 = pd.read_sql(q11, db)
print(r11)

  original_title
0          Brave

# QUERY 12:Which director is the most bankable?

In [16]:
q12 = """SELECT name, SUM(revenue) FROM movies JOIN directors ON directors.id = movies.director_id GROUP BY director_id ORDER BY SUM(revenue) DESC LIMIT 1"""
r12 = pd.read_sql(q12,db)
print(r12)

               name  SUM(revenue)
0  Steven Spielberg    9147393164

# QUERY 13: Find the average Budget of all the movies?

In [17]:
q13 = """SELECT AVG(budget) AS average_budget FROM movies """
r13 = pd.read_sql(q13, db)
print(r13)

   average_budget
0    2.922461e+07

# QUERY 14: Find out all the movies that were released after 2011-01-01?

In [18]:
q14 = """SELECT original_title FROM movies WHERE release_date > 2011-01-01"""
r14 = pd.read_sql(q14,db)
print(r14)

                    original_title
0                           Avatar
1                          Spectre
2            The Dark Knight Rises
3                      John Carter
4                          Tangled
...                            ...
1672      All Superheroes Must Die
1673  Sanctuary: Quite a Conundrum
1674                     Newlyweds
1675     Signed, Sealed, Delivered
1676              Shanghai Calling

[1677 rows x 1 columns]

# QUERY 15: Name all the movies with popularity > 99?

In [19]:
q15 = """SELECT original_title FROM movies WHERE popularity > 99"""
r15 = pd.read_sql(q15, db)
print(r15)

                              original_title
0                                     Avatar
1   Pirates of the Caribbean: At World's End
2                                    Spectre
3                      The Dark Knight Rises
4                               Spider-Man 3
..                                       ...
86                              Pulp Fiction
87                             The Godfather
88           One Flew Over the Cuckoo's Nest
89                                  Whiplash
90                                It Follows

[91 rows x 1 columns]